ALPHA_VANTAGE_API_KEY = "GET THEIR OWN FREE ALPHA VANTAGE API KEY"
DATABRICKS_HOST = " SET UP THEIR OWN DATABRICKS WORKSPACE (FREE EDITION)"
DATABRICKS_TOKEN = "GET THEIR OWN DATABRICKS TOKEN AND WHEN DATABRICKS SHOWS THE TOKEN SO IMMEDIATELY COPY THEM AND PASTE SOMEWHERE AND THEN PASTE IN YOU .ENV FILE"
DATABRICKS_HTTP_PATH = "PASTE THEIR OWN DATABRICKS HTTP_PATH WHERE YOU RUNNING YOUR DATABRICKS WAREHOUSE"